@import './mixins';


@include keyframes-animation(flipCard){
    from { transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);

    }
}

@include keyframes-animation(rotation){
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@include keyframes-animation(alignCard){
    0% {
        transform: rotate(calc(var(--angle) * 1deg));
    } 
    100% {
        transform: rotate(0deg)
    }
}

