@font-face {
    font-family: 'Italianno';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Italianno-Regular.ttf');
}

@font-face {
    font-family: 'Zekton';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/zekton-rg.otf');
}

$customFont: 'Italianno';   

$primaryFont: Arial, Helvetica, sans-serif;;

$gradient1:-webkit-linear-gradient(270deg, red,  rgb(0, 0, 0));
$gradient2:-webkit-linear-gradient(270deg, red, rgb(77, 5, 5));
$gradient3: -webkit-linear-gradient(0deg, rgb(228, 228, 228), rgb(124, 124, 124));
$gradient4: -webkit-linear-gradient(180deg, #fc1a1a, rgb(148, 11, 11));
